@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.card {
  background-color: $white-color;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: 0 2px 10px 0 rgba($black-color, 0.1);
  min-width: 35rem;

  @include respond(tab-land) {
    min-width: 20rem;
  }

  // IMAGE
  &__image-box {
    height: 20rem;
    width: 20rem;

    @include respond(tab-land) {
      width: 15rem;
      height: 15rem;
    }
    text-align: center;
  }

  &__image {
    height: 100%;
  }

  // CARD INFORMATION
  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
