<div class="signup">
  <!-- HEADING -->
  <h2 class="heading-secondary text-highlight text-semibold">Welcome to Hugh & Dave Wine Store</h2>

  <!-- PERSONAL INFORMATION -->
  <div class="row">
    <div class="col-1-of-2">
      <div class="signup__signup-form">
        <div class="signup__signup-form-header">
          <h3 class="heading-tertiary text-semibold">Create your account</h3>
        </div>
        <div class="signup__form-container">
          <form [formGroup]="signupForm" (ngSubmit)="signUp()">
            <div class="form__group">
              <label class="form__label" for="firstName">First name</label>
              <input class="form__input" id="firstName" name="firstName" type="text" maxlength="50"
                     formControlName="firstName">
              <div *ngIf="firstName.touched && firstName.invalid" class="text-normal text-semibold text-danger">
                <div *ngIf="firstName.errors.required">First name is required</div>
                <div *ngIf="firstName.errors.pattern">First name can only contain alphabets</div>
              </div>
            </div>
            <div class="form__group">
              <label class="form__label" for="lastName">Last name</label>
              <input class="form__input" id="lastName" name="lastName" type="text" maxlength="50"
                     formControlName="lastName">
              <div *ngIf="lastName.touched && lastName.invalid" class="text-normal text-semibold text-danger">
                <div *ngIf="lastName.errors.required">Last name is required</div>
                <div *ngIf="lastName.errors.pattern">Last name can only contain alphabets</div>
              </div>
            </div>
            <div class="form__group">
              <label class="form__label" for="mobile">Mobile</label>
              <input class="form__input" id="mobile" name="mobile" type="text" maxlength="10" formControlName="mobile">
              <div *ngIf="mobile.touched && mobile.invalid" class="text-normal text-semibold text-danger">
                <div *ngIf="mobile.errors.required">Mobile is required</div>
                <div *ngIf="mobile.errors.minlength">Mobile should be
                  minimum {{ mobile.errors.minlength.requiredLength }} characters
                </div>
                <div *ngIf="mobile.errors.pattern">Mobile number format is invalid</div>
              </div>
            </div>
            <div class="form__group">
              <label class="form__label" for="email">Email Address</label>
              <input class="form__input" id="email" name="email" type="email" maxlength="50" formControlName="email">
              <div *ngIf="email.touched && email.invalid" class="text-normal text-semibold text-danger">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">Email format is invalid</div>
              </div>
            </div>
            <div class="form__group">
              <label class="form__label" for="password">Password</label>
              <input class="form__input" id="password" name="password" type="password" maxlength="128"
                     formControlName="password">
              <div *ngIf="password.touched && password.invalid" class="text-normal text-semibold text-danger">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Password should be
                  minimum {{ password.errors.minlength.requiredLength }} characters
                </div>
              </div>
            </div>
            <div class="form__group signup__action">
              <button class="btn btn-primary" type="submit">Submit</button>
              <button class="btn" type="button">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
