@import "../../../styles/abstracts/variables";

.signup {
  padding: 0 7.5rem;

  & .row {
    margin: 0;
  }

  &__signup-form {
    min-height: 30vh;
    padding: 2rem;
  }

  &__form-container {
    background-color: $white-color;
    padding: 2rem;
  }

  &__signup-form-header {
    border-bottom: 1px solid $white-color-dark;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
