<div class="shopping-cart-card">
  <!-- IMAGE -->
  <div class="shopping-cart-card__item">
    <img alt="product" class="shopping-cart-card__image" src="../../../assets/images/logo-1000x1000.png">
  </div>

  <!-- ITEM DETAILS -->
  <div class="shopping-cart-card__item">
    <p class="text-normal">Pinot Noir</p>
  </div>
  <div class="shopping-cart-card__item">
    <p class="text-normal">&#8369; 3200.00</p>
  </div>
  <div class="shopping-cart-card__item">
    <p class="text-normal">Dozen</p>
  </div>
  <div class="shopping-cart-card__item">
    <input class="form__input" type="text" value="2">
  </div>
  <div class="shopping-cart-card__item">
    <p class="text-normal">&#8369; 6400.00</p>
  </div>

  <!-- REMOVE BUTTON -->
  <div class="shopping-cart-card__item">
    <svg class="shopping-cart-card__icon">
      <use xlink:href="../../assets/images/sprite.svg#icon-cancel-circle"></use>
    </svg>
  </div>
</div>
