<div class="feedback">
  <!-- QUOTE ICON -->
  <svg class="feedback__icon margin-bottom-medium">
    <use xlink:href="../../assets/images/sprite.svg#icon-quotes-left"></use>
  </svg>

  <!-- PARAGRAPH -->
  <div class="heading-tertiary text-center margin-bottom-xlarge">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quas dolor officiis voluptate itaque inventore et
    recusandae ratione
  </div>

  <!-- USER -->
  <div class="feedback__sender">
    <img alt="image" class="feedback__sender-image"
         src="https://i.pinimg.com/564x/f7/65/f3/f765f36cdbd40c6a888ee7a58b8ef905.jpg">
    <div class="text-normal">
      <p>Lebron James</p>
      <p>@kingjames</p>
    </div>
  </div>
</div>
