<div class="product-card">
  <!-- IMAGE -->
  <img alt="product image" class="product-card__image" src="../../../assets/images/wine-type-dessert.jpg">

  <!-- WINE DETAILS -->
  <div class="product-card__detail">
    <div class="product-card__review">
      <svg class="product-card__review-icon">
        <use xlink:href="../../assets/images/sprite.svg#icon-star-full"></use>
      </svg>
      <p class="heading-tertiary text-semibold">3.4 / <span class="text-normal text-grey">5</span></p>
    </div>
    <h3 class="heading-tertiary text-semibold text-highlight">Pinot Noir</h3>
    <p class="text-normal">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cumque cupiditate error
      eum excepturi laudantium perspiciatis? Ad alias architecto, doloremque illum impedit in labore maxime
      quisquam saepe soluta voluptate voluptatem.
    </p>
    <h2 class="heading-tertiary text-semibold">&#8369; 6,000.00 (&#8369; 72,000.00/dozen)</h2>
    <h2 class="heading-tertiary text-semibold"></h2>
    <span class="product-card__status">36 in stock</span>

    <!-- ADD TO CART BUTTONS -->
    <div class="product-card__action">
      <button class="btn">Add a bottle</button>
      <button class="btn btn-primary">Add a dozen</button>
    </div>
  </div>
</div>
