<h3 class="heading-tertiary"></h3>

<div class="signup-verification">
  <h2 class="heading-secondary text-highlight text-semibold">You're almost there!</h2>
  <div class="row">
    <div class="col-1-of-2">
      <div class="signup-verification__signup-verification-form">
        <div class="signup-verification__signup-verification-form-header">
          <h3 class="heading-tertiary text-semibold">A verification link has been sent to your email account</h3>
        </div>
        <div class="signup-verification__form-container">
          <p class="text-normal margin-bottom-xlarge">Please click on the link that has just been sent to your email
            account to verify your email and continue the registration process.</p>
          <button class="btn btn-primary" (click)="resendEmail()">Re-send Email</button>
        </div>
      </div>
    </div>
  </div>`
</div>
